.flexContainerBody,
.flexContainerBody02 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: rgb(233, 234, 236);
    border: 1px solid black;
    margin-top: 10px;
}

.flexItemBody {
    background-color: cornflowerblue;
    width: 300px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flexContainerBody.img {
    margin-bottom: 20px;
}

select,
input {
    margin-bottom: 0px;
    width: 180px;
}

.pregunta {
    margin-top: 5px;
    margin-bottom: 20px;
}

#btnCotizar,
#btnVolverACotizar {
    background-color: rgb(233, 234, 236);
}

#llenarPlantilla {
    margin-left: 40%;
}